body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    
}
 .orange{
     color: rgb(255, 145, 0)
 }
 .gray{
     color: gray;
 }
 .flexible{
     display: flex;
     
 }
 .top{
     margin: 9%;
     padding-bottom: 10px;
 }

 .bold{
     font-weight: 900;
     font-size: 300%;
 }
 .light{
     font-weight: 500;
     font-size: 120%;
     padding-bottom: 40px;
 }
 
 .width{
     width: 50%; 
 }
 .pic1{
     width: 100%;
 }
 #adjust-top{
    color: white;
    font-size: 120%;
    font-weight: 300;
    padding-right: 30%;
 }
 
 .anchor-top{
     color: white;
     text-decoration: none;
     background-image: linear-gradient(rgb(238, 161, 19),rgb(224, 62, 33));
     padding: 20px 45px;
     border-radius: 40px;
     box-shadow: 4px 4px 20px orange;  
 }
  
.mid-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pic2{
    width: 50%;
    padding-left: 50%;
    padding-top: 7%;
}
.about-section{
    margin-left: 12%;
    
    padding-top: 5%;
    
}

#adjust-mid{
    color: white;
    font-size: 120%;
    font-weight: 300;
    padding-right: 30%;
    padding-bottom: 10%;
    
}
.anchor-mid{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 161, 19),rgb(224, 62, 33));
    padding: 20px 45px;
    border-radius: 40px;
    box-shadow: 4px 4px 20px orange;  
}
.myrecipies{
    text-align: center;
    margin: 0% 35%;
    
}

.flexible-2{
    display: flex;
    
}
.width-2{
    
    width: 30%;
    background-color: rgb(49, 46, 46);
    color: rgb(255, 145, 0);
    box-shadow:4px 4px 20px rgb(169, 174, 219) ;
    
}
.recipe-img{
    width:100%;
    height: 400px;
    border-radius: 10%;
}
.recipe-1{
    margin-left: 3%;
    padding:1% 1%; 
    margin-right: 2%;
    border-radius: 9%;
}
.recipe-2{
    margin-left: 2%;
    padding: 1% 1%; 
    margin-right: 2%;
    border-radius: 9%;
}
.recipe-3{
    margin-left: 2%;
    padding: 1% 1%; 
    margin-right: 3%;
    border-radius: 9%;
}
.flexible-2 p{
    color: rgb(192, 187, 187);
}
.anchor-foot{
    text-decoration: none;
    color: black;
}
.counter{
    background-color: rgb(49, 46, 46);
    display: flex;
    
    margin: 10% 3%;
    box-shadow:4px 4px 20px rgb(169, 174, 219) ;
    border: 100px 0px rgb(49, 46, 46) solid ;
    border-radius: 50px;
}

.gap{
    padding-left: 12%;
    padding-right: 12%;
}
footer {
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 10%;
}
.space{
    padding-top: 2.5%;
}
